html, body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 1em;
    line-height: 1.5;
    background: #ECF0F3;
}

.form-control.invalid {
    border-color: #dc3545;
}

.obon-main-splash-screen {
    display: flex;
    flex-direction: column;
}

.obon-section-splash-screen {
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

hr {
    border-bottom: 1px solid black;
    margin: 1rem 0;
}

.obon-splash-screen-top {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background: rgb(75, 31, 9);
    background: linear-gradient(90deg, rgba(75, 31, 9, 1) 0%, rgba(121, 46, 9, 1) 50%, rgba(75, 31, 9, 1) 100%);
    color: #fff;
    margin-bottom: 2px;
    padding: 5px;
}

.obon-splash-screen-bottom {
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

@media screen and (max-width: 768px) {
    .obon-section-splash-screen {
        margin: 1rem;
    }
}

.hero {
    margin-bottom: 2px;
    padding: 0.50rem;
}

    .hero.is-full {
        border-radius: 6px;
    }

    .hero.is-top {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }

    .hero.is-bottom {
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }

/*-- End of Bulma Custom CSS*/

.validation-message {
    color: #dc3545;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.install-prompt {
    background-color: #54595f;
    color: #fff;
    position: fixed;
    bottom: 0.5rem;
    padding: 0.5rem;
    display: flex;
    font-size: 1.5rem;
    border-radius: .25rem;
    z-index: 99;
}

    .install-prompt .installButton {
        margin-left: auto;
        width: 4em;
    }

    .install-prompt .cancelButton {
        margin-left: 0.3rem;
        width: 4em;
    }


/*-- Start of Obon Box*/
.obon-box {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

    .obon-box .title {
        color: aquamarine;
    }

    .obon-box .subtitle {
        color: aquamarine;
    }

        .obon-box .subtitle a:not(.button), .obon-box .subtitle strong {
            color: aquamarine;
        }

    .obon-box .is-color {
        color: aquamarine;
    }

.obon-box-box {
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02);
    color: #4a4a4a;
    display: block;
    padding: 1.25rem;
}

.obon-box-header {
    background: #061f37;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    flex-grow: 0;
    flex-shrink: 0;
    padding: 0.5em;
}

.obon-box-body {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    flex-grow: 1;
    flex-shrink: 0;
    padding: 1.25rem;
    margin-top: 3px;
    background-color: white;
}

.obon-box-in-box {
    background-color: #f0f0f0;
    box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 3px rgba(10, 10, 10, 0.02);
    color: black;
    display: block;
    padding: 1.25rem;
}

    .obon-box-in-box ul {
        display: block;
        list-style-type: disc;
        padding-left: 40px;
    }

    .obon-box-in-box ol {
        display: block;
        list-style-type: decimal;
        padding-left: 40px;
    }

    .obon-box-in-box li {
        display: list-item;
    }

a.obon-box-in-box:hover, a.obon-box:focus {
    box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0 0 1px #3273dc;
}

a.obon-box-in-box:active {
    box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.2), 0 0 0 1px #3273dc;
}

a.obon-box-in-box:hover, a.box:focus {
    box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0 0 1px #3273dc;
}

a.obon-box-in-box:active {
    box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.2), 0 0 0 1px #3273dc;
}

/*-- End of Obon Box*/

/*-- Start of H and Friend*/
h1 {
    display: block;
    font-weight: bold;
}

    h1.is-normal {
        font-size: 2em;
    }

    h1.is-big {
        font-size: 4em;
    }

    h1.is-bigger {
        font-size: 6em;
    }

h2 {
    display: block;
    font-weight: bold;
}

    h2.is-normal {
        font-size: 1.75em;
    }

    h2.is-big {
        font-size: 3.5em;
    }

    h2.is-bigger {
        font-size: 5.25em;
    }

h3 {
    display: block;
    font-weight: bold;
}

    h3.is-normal {
        font-size: 1.5em;
    }

    h3.is-big {
        font-size: 3em;
    }

    h3.is-bigger {
        font-size: 4.5em;
    }

h4 {
    display: block;
    font-weight: bold;
}

    h4.is-normal {
        font-size: 1.25em;
    }

    h4.is-big {
        font-size: 2.5em;
    }

    h4.is-bigger {
        font-size: 3.75em;
    }

h5 {
    display: block;
    font-weight: bold;
}

    h5.is-normal {
        font-size: 1em;
    }

    h5.is-big {
        font-size: 2em;
    }

    h5.is-bigger {
        font-size: 3em;
    }

h6 {
    display: block;
    font-weight: bold;
}

    h6.is-normal {
        font-size: 0.75em;
    }

    h6.is-big {
        font-size: 1.5em;
    }

    h6.is-bigger {
        font-size: 2.25em;
    }

@media screen and (max-width: 768px) {
    h1 {
        display: block;
        font-weight: bold;
    }

        h1.is-normal {
            font-size: 2em;
        }

        h1.is-big {
            font-size: 2.75em;
        }

        h1.is-bigger {
            font-size: 3.5em;
        }

    h2 {
        display: block;
        font-weight: bold;
    }

        h2.is-normal {
            font-size: 1.75em;
        }

        h2.is-big {
            font-size: 2.5em;
        }

        h2.is-bigger {
            font-size: 3.25em;
        }

    h3 {
        display: block;
        font-weight: bold;
    }

        h3.is-normal {
            font-size: 1.5em;
        }

        h3.is-big {
            font-size: 2.25em;
        }

        h3.is-bigger {
            font-size: 3em;
        }

    h4 {
        display: block;
        font-weight: bold;
    }

        h4.is-normal {
            font-size: 1.25em;
        }

        h4.is-big {
            font-size: 2em;
        }

        h4.is-bigger {
            font-size: 2.75em;
        }

    h5 {
        display: block;
        font-weight: bold;
    }

        h5.is-normal {
            font-size: 1em;
        }

        h5.is-big {
            font-size: 1.75em;
        }

        h5.is-bigger {
            font-size: 2.5em;
        }

    h6 {
        display: block;
        font-weight: bold;
    }

        h6.is-normal {
            font-size: 0.75em;
        }

        h6.is-big {
            font-size: 1.5em;
        }

        h6.is-bigger {
            font-size: 2em;
        }
}
/*-- End of H and Friend*/