@using System.Text.Json;



<div class="field is-horizontal">
    <div class="field-label is-normal"><label class="label">Input</label></div>
    <div class="field-body">
        <div class="field">
            <div class="control">
                <textarea class="textarea " rows="3" @bind="inputData" placeholder="Input"></textarea>
            </div>
        </div>
    </div>
</div>
<div class="field is-horizontal">
    <div class="field-label is-normal"><label class="label">Output</label></div>
    <div class="field-body">
        <div class="field">
            <div class="control">
                <textarea class="textarea" rows="9" @bind="outputData" placeholder="Output" readonly></textarea>
            </div>
        </div>
    </div>
</div>

<div class="field is-horizontal">
    <div class="field-label is-normal"><!----></div>
    <div class="field-body">
        <div class="field is-grouped">
            <div class="control">
                <button class="button is-primary" @onclick="ExtractField61Inquiry">
                    Extract 61
                </button>
            </div>
            <div class="control">
                <button class="button is-primary" @onclick="ClearTextBox">
                    Clear
                </button>
            </div>
        </div>
    </div>
</div>

@code {

    public string inputData { get; set; }
    public string outputData { get; set; }
    public int isSuccess = 0;

    public class Extractor
    {
        public string f01_no_handphone_13 { get; set; }
        public string f02_kode_postpaid_6 { get; set; }
        public string f03_cust_name_45 { get; set; }
        public string f04_product_desc_25 { get; set; }
        public string f05_bill_period_8 { get; set; }
        public string f06_ref_num_16 { get; set; }
        public string f07_jumlah_tagihan_1 { get; set; }
        public string f08_nilai_tagihan_12 { get; set; }
        public string f09_biaya_admin_8 { get; set; }
    }
    public void ExtractField61Inquiry()
    {
        try
        {
            ObonCommon.StrUtil s = new ObonCommon.StrUtil(inputData);
            Extractor extractor = new Extractor();

            extractor.f01_no_handphone_13 = s.getString(13);
            extractor.f02_kode_postpaid_6 = s.getString(6);
            extractor.f03_cust_name_45 = s.getString(45);
            extractor.f04_product_desc_25 = s.getString(25);
            extractor.f05_bill_period_8 = s.getString(8);
            extractor.f06_ref_num_16 = s.getString(16);
            extractor.f07_jumlah_tagihan_1 = s.getString(1);
            extractor.f08_nilai_tagihan_12 = s.getString(12);
            extractor.f09_biaya_admin_8 = s.getString(8);

            JsonSerializerOptions jsonSerializerOptions = new JsonSerializerOptions();
            jsonSerializerOptions.WriteIndented = true;
            outputData = JsonSerializer.Serialize(extractor, jsonSerializerOptions);

        }
        catch
        {
            outputData = "";
            toastService.ShowError("Message salah", "FAIL");
        }

    }
    public void ClearTextBox()
    {
        inputData = "";
        outputData = "";
    }
}
