@using System.Text.Json;



<div class="field is-horizontal">
    <div class="field-label is-normal"><label class="label">Input</label></div>
    <div class="field-body">
        <div class="field">
            <div class="control">
                <textarea class="textarea " rows="3" @bind="inputData" placeholder="Input"></textarea>
            </div>
        </div>
    </div>
</div>
<div class="field is-horizontal">
    <div class="field-label is-normal"><label class="label">Output</label></div>
    <div class="field-body">
        <div class="field">
            <div class="control">
                <textarea class="textarea" rows="9" @bind="outputData" placeholder="Output" readonly></textarea>
            </div>
        </div>
    </div>
</div>

<div class="field is-horizontal">
    <div class="field-label is-normal"><!----></div>
    <div class="field-body">
        <div class="field is-grouped">
            <div class="control">
                <button class="button is-primary" @onclick="ExtractField48Inquiry">
                    Extract Inq
                </button>
            </div>
            <div class="control">
                <button class="button is-primary" @onclick="ExtractField48Payment">
                    Extract Pay
                </button>
            </div>
            <div class="control">
                <button class="button is-primary" @onclick="ClearTextBox">
                    Clear
                </button>
            </div>
        </div>
    </div>
</div>

@code {

    public string inputData { get; set; }
    public string outputData { get; set; }
    public int isSuccess = 0;

    public class Extractor
    {
        //field 48
        public string F48_01_gateway_id_7 { get; set; }
        public string F48_02_subscriber_id_12 { get; set; }
        public string F48_03_bill_status_1 { get; set; }
        public string F48_03_payment_status_1 { get; set; }
        public string F48_04_total_outstanding_2 { get; set; }
        public string F48_05_pln_reference_number_32 { get; set; }
        public string F48_06_subscriber_name_25 { get; set; }
        public string F48_07_service_unit_5 { get; set; }
        public string F48_08_service_unit_phone_15 { get; set; }
        public string F48_09_subsriber_segmentation_4 { get; set; }
        public string F48_10_power_consuming_category_9 { get; set; }
        public string F48_11_total_admin_charge_9 { get; set; }

        //repeated
        public string[] F48_12_bill_period_6 { get; set; }
        public string[] F48_13_due_date_8 { get; set; }
        public string[] F48_14_meter_read_date_8 { get; set; }
        public string[] F48_15_total_electricity_bill_12 { get; set; }
        public string[] F48_16_incentive_11 { get; set; }
        public string[] F48_17_value_added_tax_10 { get; set; }
        public string[] F48_18_penalty_fee_12 { get; set; }
        public string[] F48_19_previous_meter_reading_1_8 { get; set; }
        public string[] F48_20_current_meter_reading_1_8 { get; set; }
        public string[] F48_21_previous_meter_reading_2_8 { get; set; }
        public string[] F48_22_current_meter_reading_2_8 { get; set; }
        public string[] F48_23_previous_meter_reading_3_8 { get; set; }
        public string[] F48_24_current_meter_reading_3_8 { get; set; }
    }


    public void ExtractField48Inquiry()
    {
        try
        {
            ObonCommon.StrUtil s = new ObonCommon.StrUtil(inputData);
            Extractor extractor = new Extractor();

            extractor.F48_01_gateway_id_7 = s.getString(7);
            extractor.F48_02_subscriber_id_12 = s.getString(12);
            extractor.F48_03_bill_status_1 = s.getString(1);
            extractor.F48_04_total_outstanding_2 = s.getString(2);
            extractor.F48_05_pln_reference_number_32 = s.getString(32);
            extractor.F48_06_subscriber_name_25 = s.getString(25);
            extractor.F48_07_service_unit_5 = s.getString(5);
            extractor.F48_08_service_unit_phone_15 = s.getString(15);
            extractor.F48_09_subsriber_segmentation_4 = s.getString(4);
            extractor.F48_10_power_consuming_category_9 = s.getString(9);
            extractor.F48_11_total_admin_charge_9 = s.getString(9);

            //repeat
            int max = int.Parse(extractor.F48_03_bill_status_1);

            extractor.F48_12_bill_period_6 = new string[max];
            extractor.F48_13_due_date_8 = new string[max];
            extractor.F48_14_meter_read_date_8 = new string[max];
            extractor.F48_15_total_electricity_bill_12 = new string[max];
            extractor.F48_16_incentive_11 = new string[max];
            extractor.F48_17_value_added_tax_10 = new string[max];
            extractor.F48_18_penalty_fee_12 = new string[max];
            extractor.F48_19_previous_meter_reading_1_8 = new string[max];
            extractor.F48_20_current_meter_reading_1_8 = new string[max];
            extractor.F48_21_previous_meter_reading_2_8 = new string[max];
            extractor.F48_22_current_meter_reading_2_8 = new string[max];
            extractor.F48_23_previous_meter_reading_3_8 = new string[max];
            extractor.F48_24_current_meter_reading_3_8 = new string[max];

            for (int i = 0; i < max; i++)
            {
                extractor.F48_12_bill_period_6[i] = s.getString(6);
                extractor.F48_13_due_date_8[i] = s.getString(8);
                extractor.F48_14_meter_read_date_8[i] = s.getString(8);
                extractor.F48_15_total_electricity_bill_12[i] = s.getString(12);
                extractor.F48_16_incentive_11[i] = s.getString(11);
                extractor.F48_17_value_added_tax_10[i] = s.getString(10);
                extractor.F48_18_penalty_fee_12[i] = s.getString(12);
                extractor.F48_19_previous_meter_reading_1_8[i] = s.getString(8);
                extractor.F48_20_current_meter_reading_1_8[i] = s.getString(8);
                extractor.F48_21_previous_meter_reading_2_8[i] = s.getString(8);
                extractor.F48_22_current_meter_reading_2_8[i] = s.getString(8);
                extractor.F48_23_previous_meter_reading_3_8[i] = s.getString(8);
                extractor.F48_24_current_meter_reading_3_8[i] = s.getString(8);
            }
            JsonSerializerOptions jsonSerializerOptions = new JsonSerializerOptions();
            jsonSerializerOptions.WriteIndented = true;
            outputData = JsonSerializer.Serialize(extractor, jsonSerializerOptions);

        }
        catch
        {
            outputData = "";
            toastService.ShowError("Message salah", "FAIL");
        }
    }

    public void ExtractField48Payment()
    {

        try
        {
            ObonCommon.StrUtil s = new ObonCommon.StrUtil(inputData);

            Extractor extractor = new Extractor();
            extractor.F48_01_gateway_id_7 = s.getString(7);
            extractor.F48_02_subscriber_id_12 = s.getString(12);
            extractor.F48_03_bill_status_1 = s.getString(1);
            extractor.F48_03_payment_status_1 = s.getString(1);
            extractor.F48_04_total_outstanding_2 = s.getString(2);
            extractor.F48_05_pln_reference_number_32 = s.getString(32);
            extractor.F48_06_subscriber_name_25 = s.getString(25);
            extractor.F48_07_service_unit_5 = s.getString(5);
            extractor.F48_08_service_unit_phone_15 = s.getString(15);
            extractor.F48_09_subsriber_segmentation_4 = s.getString(4);
            extractor.F48_10_power_consuming_category_9 = s.getString(9);
            extractor.F48_11_total_admin_charge_9 = s.getString(9);

            //repeat
            int max = int.Parse(extractor.F48_03_bill_status_1);

            extractor.F48_12_bill_period_6 = new string[max];
            extractor.F48_13_due_date_8 = new string[max];
            extractor.F48_14_meter_read_date_8 = new string[max];
            extractor.F48_15_total_electricity_bill_12 = new string[max];
            extractor.F48_16_incentive_11 = new string[max];
            extractor.F48_17_value_added_tax_10 = new string[max];
            extractor.F48_18_penalty_fee_12 = new string[max];
            extractor.F48_19_previous_meter_reading_1_8 = new string[max];
            extractor.F48_20_current_meter_reading_1_8 = new string[max];
            extractor.F48_21_previous_meter_reading_2_8 = new string[max];
            extractor.F48_22_current_meter_reading_2_8 = new string[max];
            extractor.F48_23_previous_meter_reading_3_8 = new string[max];
            extractor.F48_24_current_meter_reading_3_8 = new string[max];

            for (int i = 0; i < max; i++)
            {
                extractor.F48_12_bill_period_6[i] = s.getString(6);
                extractor.F48_13_due_date_8[i] = s.getString(8);
                extractor.F48_14_meter_read_date_8[i] = s.getString(8);
                extractor.F48_15_total_electricity_bill_12[i] = s.getString(12);
                extractor.F48_16_incentive_11[i] = s.getString(11);
                extractor.F48_17_value_added_tax_10[i] = s.getString(10);
                extractor.F48_18_penalty_fee_12[i] = s.getString(12);
                extractor.F48_19_previous_meter_reading_1_8[i] = s.getString(8);
                extractor.F48_20_current_meter_reading_1_8[i] = s.getString(8);
                extractor.F48_21_previous_meter_reading_2_8[i] = s.getString(8);
                extractor.F48_22_current_meter_reading_2_8[i] = s.getString(8);
                extractor.F48_23_previous_meter_reading_3_8[i] = s.getString(8);
                extractor.F48_24_current_meter_reading_3_8[i] = s.getString(8);
            }
            JsonSerializerOptions jsonSerializerOptions = new JsonSerializerOptions();
            jsonSerializerOptions.WriteIndented = true;
            outputData = JsonSerializer.Serialize(extractor, jsonSerializerOptions);
        }
        catch
        {
            outputData = "";
            toastService.ShowError("Message salah", "FAIL");
        }
    }
    public void ClearTextBox()
    {
        inputData = "";
        outputData = "";
    }
}
