@using System.Text.Json;

<div class="field is-horizontal">
    <div class="field-label is-normal"><label class="label">Input</label></div>
    <div class="field-body">
        <div class="field">
            <div class="control">
                <textarea class="textarea " rows="3" @bind="inputData" placeholder="Input"></textarea>
            </div>
        </div>
    </div>
</div>
<div class="field is-horizontal">
    <div class="field-label is-normal"><label class="label">Output</label></div>
    <div class="field-body">
        <div class="field">
            <div class="control">
                <textarea class="textarea" rows="9" @bind="outputData" placeholder="Output" readonly></textarea>
            </div>
        </div>
    </div>
</div>

<div class="field is-horizontal">
    <div class="field-label is-normal"><!----></div>
    <div class="field-body">
        <div class="field is-grouped">
            <div class="control">
                <button class="button is-primary" @onclick="ExtractField48Inquiry">
                    Extract Inq
                </button>
            </div>
            <div class="control">
                <button class="button is-primary" @onclick="ExtractField48Payment">
                    Extract Pay
                </button>
            </div>
            <div class="control">
                <button class="button is-primary" @onclick="ClearTextBox">
                    Clear
                </button>
            </div>
        </div>
    </div>
</div>

@code {

    public string inputData { get; set; }
    public string outputData { get; set; }
    public int isSuccess = 0;

    public class Extractor
    {
        public string f48_01_VersiFormat_1 { get; set; }
        public string f48_02_ProdukIndikator_4 { get; set; }
        public string f48_03_NoVA_24 { get; set; }
        public string f48_04_KodeBahasa_1 { get; set; }
        public string f48_05_InfoNilaiTagihan_2 { get; set; }
        public string f48_06_TotalTagihan_12 { get; set; }
        public string f48_07_BiayaAdmin_12 { get; set; }
        public string f48_08_Nama_30 { get; set; }
        public string f48_09_BillReference_20 { get; set; }
        public string f48_10_BussinessDate_5 { get; set; }
        public string f48_11_KodeCabang_5 { get; set; }
        public string f48_12_NamaCabang_30 { get; set; }
        public string f48_13_NoPesertaKK_20 { get; set; }
        public string f48_14_JmlPesertaKK_10 { get; set; }
        public string f48_15_BillInfo6_32 { get; set; }
        public string f48_16_BillInfo7_32 { get; set; }
        public string f48_17_BillInfo8_32 { get; set; }
        public string f48_18_TotalTagihanSampaiBulanIni_12 { get; set; }
        public string f48_19_TotalPembayaranTagihanDimuka_12 { get; set; }
        public string f48_20_OtherAmount3_12 { get; set; }
        public string f48_21_OtherAmount4_12 { get; set; }
        public string f48_20_OtherAmount5_12 { get; set; }
        public string f48_21_OtherAmount6_12 { get; set; }
        public string f48_20_OtherAmount7_12 { get; set; }
        public string f48_21_OtherAmount8_12 { get; set; }
    }
    public void ExtractField48Inquiry()
    {
        try
        {
            ObonCommon.StrUtil s = new ObonCommon.StrUtil(inputData);
            Extractor extractor = new Extractor();

            extractor.f48_01_VersiFormat_1 = s.getString(1);
            extractor.f48_02_ProdukIndikator_4 = s.getString(4);
            extractor.f48_03_NoVA_24 = s.getString(24);
            extractor.f48_04_KodeBahasa_1 = s.getString(1);
            extractor.f48_05_InfoNilaiTagihan_2 = s.getString(2);
            extractor.f48_06_TotalTagihan_12 = s.getString(12);
            extractor.f48_07_BiayaAdmin_12 = s.getString(12);
            extractor.f48_08_Nama_30 = s.getString(30);
            extractor.f48_09_BillReference_20 = s.getString(20);
            extractor.f48_10_BussinessDate_5 = s.getString(5);
            extractor.f48_11_KodeCabang_5 = s.getString(5);
            extractor.f48_12_NamaCabang_30 = s.getString(30);
            extractor.f48_13_NoPesertaKK_20 = s.getString(20);
            extractor.f48_14_JmlPesertaKK_10 = s.getString(10);
            extractor.f48_15_BillInfo6_32 = s.getString(32);
            extractor.f48_16_BillInfo7_32 = s.getString(32);
            extractor.f48_17_BillInfo8_32 = s.getString(32);
            extractor.f48_18_TotalTagihanSampaiBulanIni_12 = s.getString(12);
            extractor.f48_19_TotalPembayaranTagihanDimuka_12 = s.getString(12);
            extractor.f48_20_OtherAmount3_12 = s.getString(12);
            extractor.f48_21_OtherAmount4_12 = s.getString(12);
            extractor.f48_20_OtherAmount5_12 = s.getString(12);
            extractor.f48_21_OtherAmount6_12 = s.getString(12);
            extractor.f48_20_OtherAmount7_12 = s.getString(12);
            extractor.f48_21_OtherAmount8_12 = s.getString(12);

            JsonSerializerOptions jsonSerializerOptions = new JsonSerializerOptions();
            jsonSerializerOptions.WriteIndented = true;
            outputData = JsonSerializer.Serialize(extractor, jsonSerializerOptions);

        }
        catch
        {
            outputData = "";
                        toastService.ShowError("Message salah", "FAIL");
        }

    }
    public void ExtractField48Payment()
    {
        try
        {
            ObonCommon.StrUtil s = new ObonCommon.StrUtil(inputData);
            Extractor extractor = new Extractor();

            extractor.f48_01_VersiFormat_1 = s.getString(1);
            extractor.f48_02_ProdukIndikator_4 = s.getString(4);
            extractor.f48_03_NoVA_24 = s.getString(24);
            extractor.f48_04_KodeBahasa_1 = s.getString(1);
            extractor.f48_05_InfoNilaiTagihan_2 = s.getString(2);
            extractor.f48_06_TotalTagihan_12 = s.getString(12);
            extractor.f48_07_BiayaAdmin_12 = s.getString(12);
            extractor.f48_08_Nama_30 = s.getString(30);
            extractor.f48_09_BillReference_20 = s.getString(20);
            extractor.f48_10_BussinessDate_5 = s.getString(5);
            extractor.f48_11_KodeCabang_5 = s.getString(5);
            extractor.f48_12_NamaCabang_30 = s.getString(30);
            extractor.f48_13_NoPesertaKK_20 = s.getString(20);
            extractor.f48_14_JmlPesertaKK_10 = s.getString(10);
            extractor.f48_15_BillInfo6_32 = s.getString(32);
            extractor.f48_16_BillInfo7_32 = s.getString(32);
            extractor.f48_17_BillInfo8_32 = s.getString(32);
            extractor.f48_18_TotalTagihanSampaiBulanIni_12 = s.getString(12);
            extractor.f48_19_TotalPembayaranTagihanDimuka_12 = s.getString(12);
            extractor.f48_20_OtherAmount3_12 = s.getString(12);
            extractor.f48_21_OtherAmount4_12 = s.getString(12);
            extractor.f48_20_OtherAmount5_12 = s.getString(12);
            extractor.f48_21_OtherAmount6_12 = s.getString(12);
            extractor.f48_20_OtherAmount7_12 = s.getString(12);
            extractor.f48_21_OtherAmount8_12 = s.getString(12);

            JsonSerializerOptions jsonSerializerOptions = new JsonSerializerOptions();
            jsonSerializerOptions.WriteIndented = true;
            outputData = JsonSerializer.Serialize(extractor, jsonSerializerOptions);
        }
        catch
        {
            outputData = "";
                        toastService.ShowError("Message salah", "FAIL");
        }
    }
    public void ClearTextBox()
    {
        inputData = "";
        outputData = "";
    }

}