@using System.Text.Json;



<div class="field is-horizontal">
    <div class="field-label is-normal"><label class="label">Input</label></div>
    <div class="field-body">
        <div class="field">
            <div class="control">
                <textarea class="textarea " rows="3" @bind="inputData" placeholder="Input"></textarea>
            </div>
        </div>
    </div>
</div>
<div class="field is-horizontal">
    <div class="field-label is-normal"><label class="label">Output</label></div>
    <div class="field-body">
        <div class="field">
            <div class="control">
                <textarea class="textarea" rows="9" @bind="outputData" placeholder="Output" readonly></textarea>
            </div>
        </div>
    </div>
</div>

<div class="field is-horizontal">
    <div class="field-label is-normal"><!----></div>
    <div class="field-body">
        <div class="field is-grouped">
            <div class="control">
                <button class="button is-primary" @onclick="ExtractField61Inquiry">
                    Extract 61
                </button>
            </div>
            <div class="control">
                <button class="button is-primary" @onclick="ClearTextBox">
                    Clear
                </button>
            </div>
        </div>
    </div>
</div>

@code {

    public string inputData { get; set; }
    public string outputData { get; set; }
    public int isSuccess = 0;

    public class Extractor
    {
        public string f01_kode_area_4 { get; set; }
        public string f02_nomor_telepon_9 { get; set; }
        public string f03_kode_divre_2 { get; set; }
        public string f04_kode_datel_4 { get; set; }
        public string f05_jumlah_tagihan_1 { get; set; }
        public string f06_nomor_referensi3_11 { get; set; }
        public string f07_nilai_tagihan3_12 { get; set; }
        public string f08_nomor_referensi2_11 { get; set; }
        public string f09_nilai_tagihan2_12 { get; set; }
        public string f10_nomor_referensi1_11 { get; set; }
        public string f11_nilai_tagihan1_12 { get; set; }
        public string f12_nama_pelanggan_30 { get; set; }
        public string f13_npwp_15 { get; set; }
        public string f14_product_desc_25 { get; set; }
        public string f15_biaya_admin_8 { get; set; }
    }
    public void ExtractField61Inquiry()
    {
        try
        {
            ObonCommon.StrUtil s = new ObonCommon.StrUtil(inputData);
            Extractor extractor = new Extractor();

            extractor.f01_kode_area_4 = s.getString(4);
            extractor.f02_nomor_telepon_9 = s.getString(9);
            extractor.f03_kode_divre_2 = s.getString(2);
            extractor.f04_kode_datel_4 = s.getString(4);
            extractor.f05_jumlah_tagihan_1 = s.getString(1);
            extractor.f06_nomor_referensi3_11 = s.getString(11);
            extractor.f07_nilai_tagihan3_12 = s.getString(12);
            extractor.f08_nomor_referensi2_11 = s.getString(11);
            extractor.f09_nilai_tagihan2_12 = s.getString(12);
            extractor.f10_nomor_referensi1_11 = s.getString(11);
            extractor.f11_nilai_tagihan1_12 = s.getString(12);
            extractor.f12_nama_pelanggan_30 = s.getString(30);
            extractor.f13_npwp_15 = s.getString(15);
            extractor.f14_product_desc_25 = s.getString(25);
            extractor.f15_biaya_admin_8 = s.getString(8);

            JsonSerializerOptions jsonSerializerOptions = new JsonSerializerOptions();
            jsonSerializerOptions.WriteIndented = true;
            outputData = JsonSerializer.Serialize(extractor, jsonSerializerOptions);

        }
        catch
        {
            outputData = "";
            toastService.ShowError("Message salah", "FAIL");
        }

    }
    public void ClearTextBox()
    {
        inputData = "";
        outputData = "";
    }
}
