html, body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 1em;
    line-height: 1.5;
    background: #ECF0F3;
}

.main-splash-screen {
    display: flex;
    flex-direction: column;
}

.section-splash-screen {
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

hr {
    border-bottom: 1px solid black;
    margin: 1rem 0;
}

.splash-screen-top {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    background: rgb(75, 31, 9);
    background: linear-gradient(90deg, rgba(75, 31, 9, 1) 0%, rgba(121, 46, 9, 1) 50%, rgba(75, 31, 9, 1) 100%);
    color: #fff;
    margin-bottom: 2px;
    padding: 5px;
}

.splash-screen-bottom {
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

@media screen and (max-width: 768px) {
    .section-splash-screen {
        margin: 1rem;
    }
}

.valid.modified:not([type=checkbox]) {
    border-color: #52e430;
}

.invalid {
    border-color: #dc3545;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }


.install-prompt {
    background-color: #54595f;
    color: #fff;
    position: fixed;
    bottom: 0.5rem;
    padding: 0.5rem;
    display: flex;
    font-size: 1.5rem;
    border-radius: .25rem;
    z-index: 99;
}

    .install-prompt .installButton {
        margin-left: auto;
        width: 4em;
    }

    .install-prompt .cancelButton {
        margin-left: 0.3rem;
        width: 4em;
    }

.obon-menu {
    font-size: 1rem;
    background: #021120;
    background: -webkit-gradient(linear, left bottom, left top, from(#082949), color-stop(50%, #061f37), to(#021120));
    background: linear-gradient(0deg, #082949 0%, #061f37 50%, #021120 100%);
    -webkit-box-shadow: rgba(0, 0, 0, 0.5) 5px 0px 5px 0px;
    box-shadow: rgba(0, 0, 0, 0.5) 5px 0px 5px 0px;
}

    .obon-menu.is-small {
        font-size: 0.75rem;
    }

    .obon-menu.is-medium {
        font-size: 1.25rem;
    }

    .obon-menu.is-large {
        font-size: 1.5rem;
    }

    .obon-menu.is-side {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 20;
        top: 0;
        right: 0;
        overflow-x: hidden;
        -webkit-transition: 0.5s;
        transition: 0.5s;
        padding-top: 35%;
    }

    .obon-menu.is-active {
        padding-left: 1rem;
        padding-right: 1rem;
        padding-bottom: 1rem;
        width: 300px;
    }

    .obon-menu.has-navbar-fixed-top {
        padding-top: 3.25rem;
    }

    .obon-menu.has-navbar-fixed-bottom {
        padding-bottom: 4.25rem;
    }

.obon-menu-label {
    color: aquamarine;
    font-size: 0.75em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

    .obon-menu-label:not(:first-child) {
        margin-top: 1em;
    }

    .obon-menu-label:not(:last-child) {
        margin-bottom: 1em;
    }

.obon-menu-list {
    line-height: 1.25;
}

    .obon-menu-list a {
        border-radius: 2px;
        color: whitesmoke;
        display: block;
        padding: 0.5em 0.75em;
        -webkit-transition: 0.3s;
        transition: 0.3s;
    }

        .obon-menu-list a:hover {
            background-color: whitesmoke;
            color: #061f37;
        }

        .obon-menu-list a.active {
            background-color: #3273dc;
            color: #fff;
        }

    .obon-menu-list li ul {
        border-left: 1px solid #dbdbdb;
        margin: 0.75em;
        padding-left: 0.75em;
    }

.obon-menu-label-header {
    color: violet;
    font-size: 0.75em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

    .obon-menu-label-header:not(:first-child) {
        margin-top: 0.5em;
    }

    .obon-menu-label-header:not(:last-child) {
        margin-bottom: 0.5em;
    }

.obon-menu-list-header {
    line-height: 1.25;
}

    .obon-menu-list-header a {
        border-radius: 2px;
        color: violet;
        display: block;
        padding: 0.5em 0.75em 0.5em 0;
        -webkit-transition: 0.3s;
        transition: 0.3s;
    }

        .obon-menu-list-header a:hover {
            background-color: whitesmoke;
            color: #363636;
        }

        .obon-menu-list-header a.active {
            background-color: violet;
            color: #fff;
        }

    .obon-menu-list-header li ul {
        border-left: 1px solid #dbdbdb;
        margin: 0.75em;
        padding-left: 0.75em;
    }

@media screen and (min-width: 769px) {
    .obon-menu.is-side {
        height: 100vh;
        position: -webkit-sticky;
        position: sticky;
        z-index: 29;
        top: 0;
        left: 0;
        bottom: 0;
        overflow-x: hidden;
        -webkit-transition: 0.5s;
        transition: 0.5s;
        padding-top: 1rem;
    }
}

.obon-section {
    margin: 1.5rem;
    flex: 1;
}

    .obon-section.has-navbar-fixed-top {
        padding-top: 3.25rem;
    }

    .obon-section.has-navbar-fixed-bottom {
        padding-bottom: 3.25rem;
    }

@media screen and (min-width: 769px) {
    .obon-section {
        position: sticky;
        top: 0;
    }
}