<AuthorizeView>
        <p class="obon-menu-label-header">
            Hello,  @context.User.Identity.Name
        </p>
        <hr>
</AuthorizeView>
<AuthorizeView Roles="guest, admin">
        <p class="obon-menu-label">
            General
        </p>
        <ul class="obon-menu-list">
            <li>
                <NavLink class="nav-link" href="cryptography">
                    Cryptography
                </NavLink>
            </li>
            <li>
                <NavLink class="nav-link" href="jsoneviewer">
                    Json Viewer
                </NavLink>
            </li>
            <li>
                <NavLink class="nav-link" href="passwordgenerator">
                    Password Generator
                </NavLink>
            </li>
        </ul>
</AuthorizeView>
<AuthorizeView>
        <hr>
        <ul class="obon-menu-list-header">
            <li>
                <NavLink class="nav-link" href="logout">
                    Logout
                </NavLink>
            </li>
        </ul>
</AuthorizeView>