<AuthorizeView>
    <Authorized>
        <p class="obon-menu-label-header">
            Hello,  @context.User.Identity.Name
        </p>
        <hr>
    </Authorized>
</AuthorizeView>
<AuthorizeView Roles="guest, admin, se, qa">
    <p class="obon-menu-label">
        General
    </p>
    <ul class="obon-menu-list">
        <li>
            <NavLink class="nav-link" href="cryptography">
                Cryptography
            </NavLink>
        </li>
        <li>
            <NavLink class="nav-link" href="jsonescape">
                JSON String Escape / Unescape
            </NavLink>
        </li>
    </ul>
</AuthorizeView>
<AuthorizeView Roles="admin, se, qa">
    <p class="obon-menu-label">
        Arra
    </p>
    <ul class="obon-menu-list">
        <li>
            <NavLink class="nav-link" href="serverlist">
                Server List
            </NavLink>
        </li>
    </ul>
</AuthorizeView>
<AuthorizeView Roles="admin, se">
    <p class="obon-menu-label">
        Software Engineer
    </p>
    <ul class="obon-menu-list">
        <li>
            <NavLink class="nav-link" href="spupdater">
                SP Updater
            </NavLink>
        </li>
    </ul>
</AuthorizeView>
<AuthorizeView Roles="admin, qa">
    <p class="obon-menu-label">
        Quality Assurance
    </p>
    <ul class="obon-menu-list">
        <li>
            <NavLink class="nav-link" href="extractor">
                Extractor
            </NavLink>
        </li>
        <li> 
            <NavLink class="nav-link" href="log">
                Log
            </NavLink>
        </li>
        <li> 
            <NavLink class="nav-link" href="extractoriso">
                Extractor ISO
            </NavLink>
        </li>
    </ul>
</AuthorizeView>
<AuthorizeView>
    <hr>
    <ul class="obon-menu-list-header">
        <li>
            <NavLink class="nav-link" href="logout">
                Logout
            </NavLink>
        </li>
    </ul>
</AuthorizeView>