<div class="obon-box">
    <div class="obon-box-header has-text-centered">
        <h1 class="is-big is-color">
            <img src="img/logo.jpg" style="max-height: 100px; border-radius: 50%;" /> OBONATOR
        </h1>
        <h2 class="is-color">
            <a href="https://dotnet.microsoft.com/apps/aspnet/web-apps/blazor">Blazor</a>
            Client Side <a href="https://developers.google.com/web/progressive-web-apps">PWA</a>
            Offline Support Project (@_version)
        </h2>
    </div>
    <div class="obon-box-body">
        <div class="columns">
            <div class="column">
                <div class="columns is-gapless">
                    <div class="column">
                        <div class="obon-box-in-box">
                            <h5>Install Obonator to mobile or desktop and use it offline</h5>
                            <ol>
                                <li>Open your browser’s settings.</li>
                                <li>Scroll down and tap Add to Home screen / Install this site as an app or similar words like add or install</li>
                                <li>Confirm.</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="obon-box-in-box">
                    <News _version="@_version" />
                </div>
            </div>
        </div>
    </div>
</div>

@code{
    public string _version { get; set; } = "5.0.0";
}
