<h2>News</h2>
<h3>Roadmap</h3>
<ul>
    <li>XML Viewer</li>
    <li>Diff Checker</li>
    <li>Copy Paste</li>
</ul>

<h3>Obonator @_version</h3>
<ul>
    <li>Remove all ARN Feature to Internal App Obonzilla</li>
    <li>Update TripleDes</li>
    <li>Add New Menu JSON Viewer</li>
    <li>Add Validator to JSON Viewer</li>
    <li>Add Beatufier JSON Viewer</li>
    <li>Merge JSON Escape/Unescape to JSON Viewer</li>
    <li>Add Bulma Again</li>
    <li>Slowly Remove Obon CSS Framework And Use Custom CSS to this Project Only Base on Bulma CSS</li>
    <li>Menu Collapse State Save on Storage</li>
</ul>

<h3>Obonator 4.2.1</h3>
<ul>
    <li>Fix Error TripleDes</li>
    <li>Merge Cryptography</li>
    <li>Handle Base Path Login and Logout</li>
    <li>Manual Index Base</li>
</ul>

<h3>Obonator 4.2.0</h3>
<ul>
    <li>Update Cryptography</li>
    <li>Create ObonLibrary</li>
    <li>Update Login Layout (minor)</li>
    <li>Octopus Password Fix</li>
    <li>Add Server List</li>
    <li>Add Triple Des Output Format</li>
    <li>Add Responsive Scrollbar</li>
</ul>

<h3>Obonator 4.1.0</h3>
<ul>
    <li>Update Side Menu Layout</li>
    <li>Login Remember Me Option</li>
    <li>Update Login Layout (minor)</li>
    <li>Octopus Password Fix</li>
    <li>Add Server List</li>
    <li>Add Triple Des  Output Format</li>
    <li>Add Responsive Scrollbar</li>
</ul>

<h3>Obonator 4.0.0</h3>
<ul>
    <li>Add Octopus Password</li>
    <li>Full Custom Obon CSS</li>
    <li>Bug Fix Triple Des Hex</li>
    <li>Add Login Auth</li>
    <li>Update Side Menu Layout</li>
    <li>Update Index Layout</li>
</ul>
<h3>Obonator 3.2.0</h3>
<ul>
    <li>Update Layout (Minor)</li>
    <li>Bug Fix Offside Layout</li>
    <li>Bug Fix AES Wrong Button</li>
    <li>Update Layout Mobile Friendly</li>
    <li>Add Obon scss base on Bulma</li>
    <li>Remove MatBlazor</li>
    <li>Add Blazorise</li>
    <li>Update Toast</li>
    <li>Add Font Awesome</li>
</ul>
<h3>Obonator 3.1.0</h3>
<ul>
    <li>Blazor PWA Offline Support</li>
    <li>Update Layout (Major)</li>
</ul>
<h3>Obonator 3.0.0</h3>
<ul>
    <li>Move Blazor Server Side to Client Side</li>
    <li>Remove Login Auth</li>
</ul>
<h3>Obonator 2.2.0</h3>
<ul>
    <li>Starfish SP Generator</li>
</ul>
<h3>Obonator 2.1.0</h3>
<ul>
    <li>Update Cryptography Method to Global</li>
    <li>Update Form Title to Small</li>
    <li>Merge Login and Index but Separate With Auth</li>
</ul>
<h3>Obonator 2.0.4</h3>
<ul>
    <li>Bug Fix Login Missing Param</li>
    <li>Login Notification</li>
</ul>
<h3>Obonator 2.0.3</h3>
<ul>
    <li>Bug Fix Auth</li>
    <li>Bug Fix Login</li>
</ul>
<h3>Obonator 2.0.2</h3>
<ul>
    <li>Add Success Log Biller PLN Nontaglis</li>
    <li>Update Layout</li>
</ul>
<h3>Obonator 2.0.1</h3>
<ul>
    <li>Add Custom Not Auth Page</li>
    <li>Show and Hide Menu Based on Role</li>
    <li>Add Role</li>
    <li>Show and Hide Menu Based on Role</li>
</ul>
<h3>Obonator 2.0.0</h3>
<ul>
    <li>Add Simple Login Auth</li>
</ul>
<h3>Obonator 1.9.1</h3>
<ul>
    <li>Update Layout</li>
</ul>
<h3>Obonator 1.9.0</h3>
<ul>
    <li>Move Toast to Global</li>
    <li>Log Biller PLN Nontaglis</li>
    <li>Update Structure File</li>
</ul>
<h3>Obonator 1.8.0</h3>
<ul>
    <li>Move Toast to Global</li>
    <li>Json Escape and Unescape</li>
    <li>Starfish Office SP Generator</li>
    <li>Max SignalR Data to 1Mb</li>
</ul>
<h3>Obonator 1.7.0</h3>
<ul>
    <li>Bug Fix Ugly Button on Small Screen</li>
    <li>Update Structure File</li>
</ul>
<h3>Obonator 1.6.0</h3>
<ul>
    <li>Clear Button on Extractor</li>
    <li>Extractor Telco Postpaid</li>
    <li>Extractor Telkom</li>
</ul>
<h3>Obonator 1.5.0</h3>
<ul>
    <li>Extractor BPJS</li>
    <li>Extractor PBB</li>
</ul>
<h3>Obonator 1.4.0</h3>
<ul>
    <li>Extractor Rintis</li>
    <li>Extractor Samolnas</li>
</ul>
<h3>Obonator 1.3.2</h3>
<ul>
    <li>All JSON Output is Now Beauty</li>
</ul>
<h3>Obonator 1.3.1</h3>
<ul>
    <li>Update Layout and Footer Experiment</li>
</ul>
<h3>Obonator 1.3.0</h3>
<ul>
    <li>Extractor PLN Postpaid</li>
    <li>Extractor PLN Nontaglis</li>
    <li>Remove Bootstrap and Full Use Bulma</li>
</ul>
<h3>Obonator 1.2.1</h3>
<ul>
    <li>Error catcher and notif to all pages</li>
    <li>Update Cryptography TripleDes Hex Support</li>
    <li>Add Logo</li>
</ul>
<h3>Obonator 1.2.0</h3>
<ul>
    <li>Add Bulma CSS</li>
    <li>Add Obonator</li>
    <li>Remove Global Custom Modal</li>
    <li>Add Toast</li>
</ul>
<h3>Obonator 1.1.0</h3>
<ul>
    <li>Extractor PLN Prepaid</li>
    <li>Add Global Custom Modal</li>
</ul>
<h3>Obonator 1.0.0</h3>
<ul>
    <li>Initial project using blazor server side</li>
    <li>Cryptography AES</li>
    <li>Cryptography MD5Hash</li>
    <li>Cryptography TripleDes</li>
</ul>

@code{

    [Parameter] public string _version { get; set; }

}