@page "/extractor"

@attribute [Authorize(Roles = "admin, qa")]
<nav class="obon-breadcrumb is-small" aria-label="breadcrumbs">
    <ul>
        <li>
            <a href="#">
                Obonator
            </a>
        </li>
        <li class="is-active">
            <a href="#" aria-current="page">Extractor</a>
        </li>
    </ul>
</nav>

<div class="obon-box">
    <div class="obon-box-header">
        <h1 class="subtitle has-text-centered">
            Extractor Biller
        </h1>
    </div>
    <div class="obon-box-body">
        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">Biller</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <div class="select">
                            <select @onchange="DdlClicked">
                                <option value="0">
                                    Select
                                </option>
                                <option value="1">
                                    Pln Postpaid
                                </option>
                                <option value="2">
                                    Pln Prepaid
                                </option>
                                <option value="3">
                                    Pln Nontaglis
                                </option>
                                <option value="4">
                                    Rintis
                                </option>
                                <option value="5">
                                    Samolnas
                                </option>
                                <option value="6">
                                    BPJS
                                </option>
                                <option value="7">
                                    PBB
                                </option>
                                <option value="8">
                                    Telepon Pascabayar
                                </option>
                                <option value="9">
                                    Telkom
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @switch (ddlSelected)
        {
            case 1:
                <ExtractorPlnPostpaid />
                break;
            case 2:
                <ExtractorPlnPrepaid />
                break;
            case 3:
                <ExtractorPlnNontaglis />
                break;
            case 4:
                <ExtractorRintis />
                break;
            case 5:
                <ExtractorSamolnas />
                break;
            case 6:
                <ExtractorBpjs />
                break;
            case 7:
                <ExtractorPbb />
                break;
            case 8:
                <ExtractorTelcoPostpaid />
                break;
            case 9:
                <ExtractorTelkom />
                break;
            default:
                break;
        }
    </div>
</div>
@code{
    public int ddlSelected { get; set; }

    protected void DdlClicked(ChangeEventArgs countryEvent)
    {
        ddlSelected = int.Parse(countryEvent.Value.ToString());
    }
}

