@using System.Text.Json
@using System.Text.Encodings.Web;

@page "/jsoneviewer"

@attribute [Authorize(Roles = "admin, guest")]
<nav class="breadcrumb is-small" aria-label="breadcrumbs">
    <ul>
        <li>
            <a href="#">
                Obonator
            </a>
        </li>
        <li class="is-active">
            <a href="#" aria-current="page">Json Viewer</a>
        </li>
    </ul>
</nav>

<div class="box">
    <div class="box-header">
        <h1 class="subtitle has-text-centered">
            Json Viewer
        </h1>
    </div>
    <div class="box-body">
        <div class="columns">
            <div class="column">
                <div class="field">
                    <label class="label">Input</label>
                    <div class="control">
                        <textarea class="textarea" rows="19" @bind="inputData" placeholder="Enter Json"></textarea>
                    </div>
                </div>
            </div>
            <div class="column is-2 has-text-centered">
                <div class="field">
                    <div class="field-label is-normal"><!----></div>
                </div>
                <div class="field">
                    <div class="field-label is-normal"><!----></div>
                </div>
                <div class="field">
                    <div class="control">
                        <button class="button is-primary is-fullwidth" @onclick="Validator">
                            Validator
                        </button>
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <button class="button is-primary is-fullwidth" @onclick="Beautifier">
                            Beautifier
                        </button>
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <button class="button is-primary is-fullwidth" @onclick="Escape">
                            Escape
                        </button>
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <button class="button is-primary is-fullwidth" @onclick="Unescape">
                            Unescape
                        </button>
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <ButtonCopyToClipboard AddCss="is-fullwidth" CopyText="@outputData" />
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="field">
                    <label class="label">Output</label>
                    <div class="control">
                        <textarea class="textarea" rows="19" @bind="outputData" placeholder="Result goes here"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@code{
    public string inputData { get; set; }
    public string outputData { get; set; }

    public void Validator()
    {
        try
        {
            outputData = ObonJson.JsonValidator(inputData);
            if (string.IsNullOrEmpty(outputData))
            {
                _Toast.ShowSuccess("JSON Valid");
            }
            else
            {
                _Toast.ShowWarning("JSON Tidak Valid");
            }
        }
        catch (Exception ex)
        {
            _ = ex.ToString();
            outputData = "";
            _Toast.ShowError("Gagal memvalidasi JSON");
        }
    }

    public void Beautifier()
    {
        try
        {
            outputData = ObonJson.PrettyJson(inputData);
        }
        catch (Exception ex)
        {
            _ = ex.ToString();
            outputData = "";
            _Toast.ShowError("Gagal memvalidasi JSON");
        }
    }

    public void Escape()
    {
        try
        {
            outputData = ObonJson.Escape(inputData);
        }
        catch (Exception ex)
        {
            _ = ex.ToString();
            outputData = "";
            _Toast.ShowError("Key atau input salah");
        }
    }
    public void Unescape()
    {
        try
        {
            outputData = ObonJson.Unescape(inputData);
        }
        catch (Exception ex)
        {
            _ = ex.ToString();
            outputData = "";
            _Toast.ShowError("Key atau input salah");
        }
    }
}

