@using System.Text
@using Obonator.Client.Services.SpUpdater
@page "/spupdater"

@attribute [Authorize(Roles = "admin, se")]
<nav class="obon-breadcrumb is-small" aria-label="breadcrumbs">
    <ul>
        <li>
            <a href="#">
                Obonator
            </a>
        </li>
        <li class="is-active">
            <a href="#" aria-current="page">Sp Generator</a>
        </li>
    </ul>
</nav>

<div class="obon-box">
    <div class="obon-box-header">
        <h1 class="subtitle has-text-centered">
            SP Generator
        </h1>
    </div>
    <div class="obon-box-body">
        <div class="field is-horizontal">
            <div class="field-label is-normal"><label class="label">Store Procedure</label></div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <div class="select">
                            <select @onchange="DdlClicked">
                                <option value="0">
                                    Select
                                </option>
                                <option value="1">
                                    Starfsih Office CM Report Related
                                </option>
                                <option value="2">
                                    Starfish CM Report Related
                                </option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <article class="message is-info">
            <div class="obon-scrollbar is-x">
                <div class="message-body">
                    <div class="obon-scrollbar is-x">
                        @SupportedSp
                    </div>
                </div>
            </div>
        </article>
        <div class="field is-horizontal">
            <div class="field-label is-normal"><label class="label">Date</label></div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <DateEdit @bind-Date="@dateDesc" />
                    </div>
                </div>
            </div>
        </div>
        <div class="field is-horizontal">
            <div class="field-label is-normal"><label class="label">User</label></div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <input class="input" type="text" @bind="historyUserData" placeholder="Ex: Arra">
                    </div>
                </div>
            </div>
        </div>
        <div class="field is-horizontal">
            <div class="field-label is-normal"><label class="label">Note</label></div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <input class="input" type="text" @bind="historyNoteData" placeholder="Ex: Tambah PDAM Gaul">
                    </div>
                </div>
            </div>
        </div>

        <div class="field is-horizontal">
            <div class="field-label is-normal"><label class="label">Parameter</label></div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <input class="input" type="text" @bind="nameData" placeholder="Ex: PDAM Gaul">
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <input class="input" type="text" @bind="nameQueryData" placeholder="Ex: PDAM_GAUL">
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <input class="input" type="number" @bind="billerCodeData" placeholder="Biller Code, Ex: 12345">
                    </div>
                </div>
            </div>
        </div>
        <div class="field is-horizontal">
            <div class="field-label is-normal"><label class="label">Input</label></div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <textarea class="textarea" @bind="inputData" placeholder="Pastikan sudah menggunakan template yang dibutuhkan, ex: setiap section harus sudah mempunyai (END REVISED) dan (-- END OF GENERATOR ONE --) sampai dengan (-- END OF GENERATOR terakhir --), tanda kurung tidak termasuk, jika anda masih bingung, klik SHOW EXAMPLE untuk membuat contoh template lalu klik GENERATE untuk melihat hasilnya."></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="field is-horizontal">
            <div class="field-label is-normal"><label class="label">Output</label></div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <textarea class="textarea" rows="9" @bind="outputData" placeholder="Output" readonly></textarea>
                    </div>
                </div>
            </div>
        </div>

        <div class="field is-horizontal">
            <div class="field-label is-normal"><!----></div>
            <div class="field-body">
                <div class="field is-grouped">
                    <div class="control">
                        <button class="button is-primary" @onclick="BtnGenerate">
                            Generate
                        </button>
                    </div>
                    <div class="control">
                        <button class="button is-primary" @onclick="BtnShowExample">
                            Show Example
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@code{
    DateTime? dateDesc;
    public int ddlSelected { get; set; }

    protected void DdlClicked(ChangeEventArgs countryEvent)
    {
        ddlSelected = int.Parse(countryEvent.Value.ToString());


        switch (ddlSelected)
        {
            case 1:
                SupportedSp = "Supported SP: uspStatisticMonitoringDownline_CA, uspStatisticMonitoringDownline_SubCA, " +
    "uspStatisticMultiBiller_Cabang, uspStatisticMultiBiller_CollectingAgent, uspStatisticMultiBiller_Partner, " +
    "uspStatisticMultiBiller_SubCollectingAgent, uspStatisticMultiBillerPeriodic_Cabang, " +
    "uspStatisticMultiBillerPeriodic_CollectingAgent, uspStatisticMultiBillerPeriodic_Partner, " +
    "uspStatisticMultiBillerPeriodic_SubCollectingAgent";
                break;
            case 2:
                SupportedSp = "Supported SP: uspReportCommision_Ca, uspReportCommision_SubCa";
                break;
            default:
                SupportedSp = "";
                break;
        }
    }
    private string SupportedSp { get; set; }
    private DateTime historyDateData { get; set; }
    private string historyUserData { get; set; }
    private string historyNoteData { get; set; }
    private string nameData { get; set; }
    private string nameQueryData { get; set; }
    private string billerCodeData { get; set; }
    private string inputData { get; set; }
    private string outputData { get; set; }

    private void BtnGenerate()
    {
        switch (ddlSelected)
        {
            case 1:
                GenerateStarfishOfficeSp();
                break;
            case 2:
                GenerateStarfishSp();
                break;
            default:
                toastService.ShowError("Pilih salah satu template terlebih dahulu", "FAIL");
                break;
        }
    }

    private void BtnShowExample()
    {
        switch (ddlSelected)
        {
            case 1:
                inputData = StarfishOffice.StarfishOfficeSpExample();
                break;
            case 2:
                inputData = Starfish.StarfishSpExample();
                break;
            default:
                toastService.ShowError("Pilih salah satu template terlebih dahulu", "FAIL");
                break;
        }
    }

    private void GenerateStarfishOfficeSp()
    {
        try
        {
            historyDateData = dateDesc ?? DateTime.Now;
            string history = historyDateData.ToString("yyyy-MM-dd").PadRight(16, ' ') + historyUserData.PadRight(20, ' ') + historyNoteData;
            StringBuilder REVISED = new StringBuilder();
            REVISED.AppendLine(history);
            REVISED.Append("	End Revised");

            string jumlah = nameQueryData + "_JUMLAH";
            string rupiah = nameQueryData + "_RUPIAH";
            string komisi = nameQueryData + "_KOMISI";
            string total = nameQueryData + "_TOTAL";


            StringBuilder ONE = new StringBuilder();
            ONE.AppendLine("-- " + nameData + " --");
            ONE.AppendLine("			T2." + jumlah + ",");
            ONE.AppendLine("			T2." + rupiah + ",");
            ONE.AppendLine("			T2." + komisi + ",");
            ONE.AppendLine("			T2." + total + ",");
            ONE.AppendLine("			-- END OF " + nameData + " --");
            ONE.Append("			-- END OF GENERATOR ONE --");

            StringBuilder TWO = new StringBuilder();
            TWO.AppendLine("-- " + nameData + " --");
            TWO.AppendLine("			T." + jumlah + ",");
            TWO.AppendLine("			T." + rupiah + ",");
            TWO.AppendLine("			T." + komisi + ",");
            TWO.AppendLine("			(T." + rupiah + " + T." + komisi + ") AS " + total + ",");
            TWO.AppendLine("			-- END OF " + nameData + " --");
            TWO.Append("			-- END OF GENERATOR TWO --");

            StringBuilder THREE = new StringBuilder();
            THREE.AppendLine("+ T." + jumlah);
            THREE.Append("			-- END OF GENERATOR THREE --");

            StringBuilder FOUR = new StringBuilder();
            FOUR.AppendLine("+ T." + rupiah);
            FOUR.Append("			-- END OF GENERATOR FOUR --");

            StringBuilder FIVE = new StringBuilder();
            FIVE.AppendLine("+ T." + komisi);
            FIVE.Append("			-- END OF GENERATOR FIVE --");

            StringBuilder SIX = new StringBuilder();
            SIX.AppendLine(",");
            SIX.AppendLine("			-- " + nameData + " --");
            SIX.AppendLine("			ISNULL(SUM(" + nameQueryData + ".JUMLAH),0) AS " + jumlah + ",");
            SIX.AppendLine("			ISNULL(SUM(" + nameQueryData + ".RUPIAH),0) AS " + rupiah + ",");
            SIX.AppendLine("			ISNULL(SUM(" + nameQueryData + ".KOMISI),0) AS " + komisi);
            SIX.AppendLine("			-- END OF " + nameData + " --");
            SIX.Append("			-- END OF GENERATOR SIX --");

            StringBuilder SEVEN = new StringBuilder();
            SEVEN.AppendLine("			-- " + nameData + " --");
            SEVEN.AppendLine("			LEFT JOIN (");
            SEVEN.AppendLine("			select * from cteData where biller_id = '" + billerCodeData + "'");
            SEVEN.AppendLine("			) AS " + nameQueryData + " ON " + nameQueryData + ".transaction_id = tt.transaction_id");
            SEVEN.AppendLine("			-- END OF " + nameData + " --");
            SEVEN.Append("			-- END OF GENERATOR SEVEN --");

            StringBuilder QuerySP = new StringBuilder(inputData);
            QuerySP.Replace("End Revised", REVISED.ToString());
            QuerySP.Replace("-- END OF GENERATOR ONE --", ONE.ToString());
            QuerySP.Replace("-- END OF GENERATOR TWO --", TWO.ToString());
            QuerySP.Replace("-- END OF GENERATOR THREE --", THREE.ToString());
            QuerySP.Replace("-- END OF GENERATOR FOUR --", FOUR.ToString());
            QuerySP.Replace("-- END OF GENERATOR FIVE --", FIVE.ToString());
            QuerySP.Replace("-- END OF GENERATOR SIX --", SIX.ToString());
            QuerySP.Replace("-- END OF GENERATOR SEVEN --", SEVEN.ToString());

            outputData = QuerySP.ToString();
            toastService.ShowSuccess("Generator berhasil", "SUCCESS");
        }
        catch (Exception)
        {
            outputData = "";
            toastService.ShowError("Pastikan semua data benar", "FAIL");
        }
    }

    private void GenerateStarfishSp()
    {
        try
        {
            historyDateData = dateDesc ?? DateTime.Now;
            string history = historyDateData.ToString("yyyy-MM-dd").PadRight(16, ' ') + historyUserData.PadRight(20, ' ') + historyNoteData;
            StringBuilder REVISED = new StringBuilder();
            REVISED.AppendLine(history);
            REVISED.Append("	End Revised");

            string jumlah = nameQueryData + "_JUMLAH";
            string rupiah = nameQueryData + "_RUPIAH";
            string komisi = nameQueryData + "_KOMISI";

            StringBuilder ONE = new StringBuilder();
            ONE.AppendLine("-- " + nameData + " --");
            ONE.AppendLine("				" + jumlah + ",");
            ONE.AppendLine("				" + rupiah + ",");
            ONE.AppendLine("				" + komisi + ",");
            ONE.AppendLine("				-- END OF " + nameData + " --");
            ONE.Append("				-- END OF GENERATOR ONE --");

            StringBuilder TWO = new StringBuilder();
            TWO.AppendLine("-- " + nameData + " --");
            TWO.AppendLine("				+ " + jumlah);
            TWO.AppendLine("				-- END OF " + nameData + " --");
            TWO.Append("				-- END OF GENERATOR TWO --");

            StringBuilder THREE = new StringBuilder();
            THREE.AppendLine("-- " + nameData + " --");
            THREE.AppendLine("				+ " + rupiah);
            THREE.AppendLine("				-- END OF " + nameData + " --");
            THREE.Append("				-- END OF GENERATOR THREE --");

            StringBuilder FOUR = new StringBuilder();
            FOUR.AppendLine("-- " + nameData + " --");
            FOUR.AppendLine("				+ " + komisi);
            FOUR.AppendLine("				-- END OF " + nameData + " --");
            FOUR.Append("				-- END OF GENERATOR FOUR --");

            StringBuilder FIVE = new StringBuilder();
            FIVE.AppendLine("+ " + rupiah + " ");
            FIVE.Append("		 -- END OF GENERATOR FIVE --");

            StringBuilder SIX = new StringBuilder();
            SIX.AppendLine("+ " + komisi + " ");
            SIX.Append("		 -- END OF GENERATOR SIX --");

            StringBuilder SEVEN = new StringBuilder();
            SEVEN.AppendLine("+ " + rupiah + " ");
            SEVEN.Append("		 -- END OF GENERATOR SEVEN --");

            StringBuilder EIGHT = new StringBuilder();
            EIGHT.AppendLine("+ " + komisi + " ");
            EIGHT.Append("		 -- END OF GENERATOR EIGHT --");

            StringBuilder NINE = new StringBuilder();
            NINE.AppendLine("-- " + nameData + " --");
            NINE.AppendLine("		ISNULL(" + nameQueryData + ".jumlah,0) AS " + jumlah + ",");
            NINE.AppendLine("		ISNULL(" + nameQueryData + ".rupiah,0) AS " + rupiah + ",");
            NINE.AppendLine("		(ISNULL(" + nameQueryData + ".jumlah,0) * ISNULL(" + nameQueryData + ".amount,0)) AS " + komisi + ",");
            NINE.AppendLine("		-- END OF " + nameData + " --");
            NINE.Append("		-- END OF GENERATOR NINE --");

            StringBuilder TENCA = new StringBuilder();
            TENCA.AppendLine("-- " + nameData + " --");
            TENCA.AppendLine("				LEFT JOIN (");
            TENCA.AppendLine("				select * from CTE_DATA where biller_id = '" + billerCodeData + "'");
            TENCA.AppendLine("				) AS " + nameQueryData + " ON " + nameQueryData + ".institution_id = ins.sub_collecting_agent_id");
            TENCA.AppendLine("				-- END OF " + nameData + " --");
            TENCA.Append("				-- END OF GENERATOR TEN CA --");

            StringBuilder TENSUBCA = new StringBuilder();
            TENSUBCA.AppendLine("-- " + nameData + " --");
            TENSUBCA.AppendLine("				LEFT JOIN (");
            TENSUBCA.AppendLine("				select * from CTE_DATA where biller_id = '" + billerCodeData + "'");
            TENSUBCA.AppendLine("				) AS " + nameQueryData + " ON " + nameQueryData + ".institution_id = ins.partner_id");
            TENSUBCA.AppendLine("				-- END OF " + nameData + " --");
            TENSUBCA.Append("				-- END OF GENERATOR TEN SUB CA --");

            StringBuilder ELEVEN = new StringBuilder();
            ELEVEN.AppendLine(",");
            ELEVEN.AppendLine("	-- " + nameData + " --");
            ELEVEN.AppendLine("	" + nameQueryData + ".jumlah,");
            ELEVEN.AppendLine("	" + nameQueryData + ".rupiah,");
            ELEVEN.AppendLine("	" + nameQueryData + ".amount");
            ELEVEN.AppendLine("	-- END OF " + nameData + " --");
            ELEVEN.Append("	-- END OF GENERATOR ELEVEN --");

            StringBuilder QuerySP = new StringBuilder(inputData);
            QuerySP.Replace("End Revised", REVISED.ToString());
            QuerySP.Replace("-- END OF GENERATOR ONE --", ONE.ToString());
            QuerySP.Replace("-- END OF GENERATOR TWO --", TWO.ToString());
            QuerySP.Replace("-- END OF GENERATOR THREE --", THREE.ToString());
            QuerySP.Replace("-- END OF GENERATOR FOUR --", FOUR.ToString());
            QuerySP.Replace("-- END OF GENERATOR FIVE --", FIVE.ToString());
            QuerySP.Replace("-- END OF GENERATOR SIX --", SIX.ToString());
            QuerySP.Replace("-- END OF GENERATOR SEVEN --", SEVEN.ToString());
            QuerySP.Replace("-- END OF GENERATOR EIGHT --", EIGHT.ToString());
            QuerySP.Replace("-- END OF GENERATOR NINE --", NINE.ToString());
            QuerySP.Replace("-- END OF GENERATOR TEN CA --", TENCA.ToString());
            QuerySP.Replace("-- END OF GENERATOR TEN SUB CA --", TENSUBCA.ToString());
            QuerySP.Replace("-- END OF GENERATOR ELEVEN --", ELEVEN.ToString());

            outputData = QuerySP.ToString();
            toastService.ShowSuccess("Generator berhasil", "SUCCESS");
        }
        catch (Exception)
        {
            outputData = "";
            toastService.ShowError("Pastikan semua data benar", "FAIL");
        }
    }
}

