.obon-box {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .obon-box .title {
    color: aquamarine; }
  .obon-box .subtitle {
    color: aquamarine; }
    .obon-box .subtitle a:not(.button), .obon-box .subtitle strong {
      color: aquamarine; }
  .obon-box .is-color {
    color: aquamarine; }

.obon-box-box {
  background-color: white;
  border-radius: 6px;
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02);
  color: #4a4a4a;
  display: block;
  padding: 1.25rem; }

.obon-box-header {
  background: #061f37;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  flex-grow: 0;
  flex-shrink: 0;
  padding: .5em; }

.obon-box-body {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  flex-grow: 1;
  flex-shrink: 0;
  padding: 3rem 1.5rem;
  margin-top: 3px;
  background-color: white; }

.obon-box-in-box {
  background-color: #f0f0f0;
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 3px rgba(10, 10, 10, 0.02);
  color: black;
  display: block;
  padding: 1.25rem; }

.obon-box-in-box ul {
  display: block;
  list-style-type: disc;
  padding-left: 40px; }

.obon-box-in-box ol {
  display: block;
  list-style-type: decimal;
  padding-left: 40px; }

.obon-box-in-box li {
  display: list-item; }

a.obon-box-in-box:hover, a.obon-box:focus {
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0 0 1px #3273dc; }

a.obon-box-in-box:active {
  box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.2), 0 0 0 1px #3273dc; }

a.obon-box-in-box:hover, a.box:focus {
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0 0 1px #3273dc; }

a.obon-box-in-box:active {
  box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.2), 0 0 0 1px #3273dc; }
