<div class="field is-horizontal">
    <div class="field-body">
        <div class="field is-grouped">
            <div class="control">
                <button class="button is-primary" @onclick="Success">
                    Success
                </button>
            </div>
        </div>
    </div>
</div>
<div class="field-label is-normal"></div>
<div class="field-body">
    <div class="field">
        <div class="control">
            <textarea class="textarea" @bind="outputdata" rows="12" placeholder="Output" readonly></textarea>
        </div>
    </div>
</div>

@code
{
    private string outputdata;
    private string logSuccess = "{\"key\":\"CAE6EDC95A764BE7\",\n\"mti\":\"2100\",\n\"2\":\"99504\",\n\"11\":\"658388283779\",\n\"12\":\"20190808102819\",\n\"26\":\"6021\",\n\"32\":\"4410010\",\n\"33\":\"4411296\",\n\"41\":\"0000000001499001\",\n\"48\":\"00000001100000000001                   00000\"}\n\n{\"mti\":\"2110\",\n\"2\":\"99504\",\n\"4\":\"3600000000500000\",\n\"11\":\"658388283779\",\n\"12\":\"20190808102819\",\n\"26\":\"6021\",\n\"32\":\"4410010\",\n\"33\":\"4411296\",\n\"39\":\"0000\",\n\"41\":\"0000000001499001\",\n\"48\":\"00000001100000000001                   00000PERUBAHAN DAYA           2019080820190808123456789012SUBSRIBER NAME           0000000000000000000000000000000093F8552EDB0EB3433717ABC461FC885600005C74C7189660F83425DABE02D6A13656559200000000000001520000000005000000020000000005000000020000500000\",\n\"62\":\"02200000000050000000\"}\n\n{\"key\":\"CAE6EDC95A764BE7\",\n\"mti\":\"2200\",\n\"2\":\"99504\",\n\"4\":\"3600000000505000\",\n\"11\":\"658388283779\",\n\"12\":\"20190808102857\",\n\"26\":\"6021\",\n\"32\":\"4410010\",\n\"33\":\"4411296\",\n\"41\":\"0000000001499001\",\n\"48\":\"00000001100000000001                   00000PERUBAHAN DAYA           2019080820190808123456789012SUBSRIBER NAME           0000000000000000000000000000000093F8552EDB0EB3433717ABC461FC885600005C74C7189660F83425DABE02D6A13656559200000000000001520000000005050000020000000005000000020000500000\",\n\"62\":\"02200000000050000000\"}\n\n{\"mti\":\"2210\",\n\"2\":\"99504\",\n\"4\":\"3600000000505000\",\n\"11\":\"658388283779\",\n\"12\":\"20190808102857\",\n\"15\":\"20190808\",\n\"26\":\"6021\",\n\"32\":\"4410010\",\n\"33\":\"4411296\",\n\"39\":\"0000\",\n\"41\":\"0000000001499001\",\n\"48\":\"00000001100000000001                   00000PERUBAHAN DAYA           2019080820190808123456789012SUBSRIBER NAME           93F8552EDB0EB3433717ABC461FC8856044121CAD89F930EC1046D1B54588DDD00005C74C7189660F83425DABE02D6A13656559200000000000001520000000005050000020000000005000000020000500000\",\n\"61\":\"                                    00000000093F8552EDB0EB3433717ABC461FC8856\",\n\"62\":\"02200000000050000000\",\n\"63\":\"RINCIAN TAGIHAN DAPAT DIAKSES DI \\\"www.pln.co.id\\\" ATAU PLN TERDEKAT. Powered by Bukopinet.\"}"
        ;

    private void Success()
    {
        outputdata = logSuccess;
    }

}