@using System.Security.Cryptography
@using System.Text

<div class="field is-horizontal">
    <div class="field-label is-normal"><label class="label">Key</label></div>
    <div class="field-body">
        <div class="field">
            <div class="control">
                <textarea class="textarea" @bind="inputData" placeholder="Input"></textarea>
            </div>
        </div>
    </div>
</div>

<div class="field is-horizontal">
    <div class="field-label is-normal"><label class="label">Output</label></div>
    <div class="field-body">
        <div class="field">
            <div class="control">
                <textarea class="textarea" @bind="outputData" placeholder="Output" readonly></textarea>
            </div>
        </div>
    </div>
</div>

<div class="field is-horizontal">
    <div class="field-label is-normal"><!----></div>
    <div class="field-body">
        <div class="field is-grouped">
            <div class="control">
                <button class="button is-primary" @onclick="BtnHash">
                    Encrypt
                </button>
            </div>
        </div>
    </div>
</div>

@code {
    private string inputData;
    private string outputData;

    public void BtnHash()
    {
        try
        {
            outputData = ObonCryptography.MD5Hash.Hash(inputData);
            if (string.IsNullOrEmpty(outputData))
            {
                toastService.ShowError("Key atau input salah", "FAIL");
            }
        }
        catch (Exception ex)
        {
            toastService.ShowError("Error: " + ex.Message + ex.StackTrace, "FAIL");
        }
    }
}
